.vscode
venv
__pycache__
/Modulo4/ProjetosJava/mavenproject1/target/
/Modulo4/ProjetosJava/bhaskara/target/
/Modulo4/ProjetosJava/entrada/target/
/Modulo4/vetor/target/
/Modulo4/mavenproject1/target/
/Modulo4/voidsoma/target/
